homework4/WhitePages/src/conf/xml-resources/web-service-references/WhitePagesService/wsdl/localhost_8080/WhitePages/WhitePagesService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ws.imm.dtu" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="WhitePages" targetNamespace="ws.imm.dtu">
    <types>
        <xsd:schema xmlns:tns="ws.imm.dtu" targetNamespace="ws.imm.dtu">
            <xsd:complexType name="Person">
                <xsd:sequence>
                    <xsd:element name="address" type="tns:address"/>
                </xsd:sequence>
                <xsd:attribute name="firstname" type="xsd:string"/>
                <xsd:attribute name="lastname" type="xsd:string"/>
                <xsd:attribute name="phone" type="xsd:string"/>
            </xsd:complexType>
            <xsd:complexType name="address">
                <xsd:sequence>
                    <xsd:element name="street" type="xsd:string"/>
                    <xsd:element name="city" type="xsd:string"/>
                    <xsd:element name="postcode" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="faultType">
                <xsd:sequence>
                    <xsd:element name="errorMessage" type="xsd:string"/>
                    <xsd:element name="person" type="tns:Person"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="request" type="tns:Person"/>
            <xsd:element name="status" type="xsd:string"/>
            <xsd:element name="fault" type="tns:faultType"/>
            <xsd:complexType name="personArray">
                <xsd:sequence>
                    <xsd:element name="person" type="tns:Person" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="personArray" type="tns:personArray"/>
        </xsd:schema>
    </types>
    <message name="addPersonRequest">
        <part name="person" type="tns:Person"/>
    </message>
    <message name="addPersonResponse">
        <part name="status" type="xsd:string"/>
    </message>
    <message name="wpfault">
        <part name="fault" element="tns:fault"/>
    </message>
    <message name="findPersonOperationRequest">
        <part name="person" type="tns:Person"/>
    </message>
    <message name="findPersonOperationResponse">
        <part name="personArray" type="tns:personArray"/>
    </message>
    <portType name="WhitePagesPortType">
        <operation name="addPerson">
            <input name="input1" message="tns:addPersonRequest"/>
            <output name="output1" message="tns:addPersonResponse"/>
            <fault name="wpfault" message="tns:wpfault"/>
        </operation>
        <operation name="findPerson">
            <input name="input2" message="tns:findPersonOperationRequest"/>
            <output name="output2" message="tns:findPersonOperationResponse"/>
        </operation>
    </portType>
    <binding name="WhitePagesPortTypeBinding" type="tns:WhitePagesPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="addPerson">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
            <fault name="wpfault">
                <soap:fault name="wpfault" use="literal"/>
            </fault>
        </operation>
        <operation name="findPerson">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal"/>
            </input>
            <output name="output2">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="WhitePagesService">
        <port name="WhitePagesPortTypeBindingPort" binding="tns:WhitePagesPortTypeBinding">
            <soap:address location="http://localhost:8080/WhitePages/WhitePagesService"/>
        </port>
    </service>
</definitions>