homework3/Calendar/web/WEB-INF/wsdl/localhost_8080/Calendar/calendar.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.imm.dtu.dk/calendar" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="calendar" targetNamespace="http://ws.imm.dtu.dk/calendar">
    <types/>
    <message name="addAppointmentRequest">
        <part name="part1" type="xsd:string"/>
        <part name="part2" type="xsd:date"/>
    </message>
    <message name="addAppointmentResponse"/>
    <message name="calendarOperationRequest">
        <part name="part1" type="xsd:date"/>
    </message>
    <message name="calendarOperationResponse">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="calendarOperationRequest1">
        <part name="part1" type="xsd:string"/>
        <part name="part2" type="xsd:date"/>
    </message>
    <portType name="calendarServicePortType">
        <operation name="getAppointment">
            <input name="input2" message="tns:calendarOperationRequest"/>
            <output name="output2" message="tns:calendarOperationResponse"/>
        </operation>
        <operation name="addApointment">
            <input name="input1" message="tns:calendarOperationRequest1"/>
        </operation>
    </portType>
    <binding name="calendarServicePortTypeBinding" type="tns:calendarServicePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getAppointment">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal"/>
            </input>
            <output name="output2">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addApointment">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="calendar">
        <port name="calendarServicePortTypeBindingPort" binding="tns:calendarServicePortTypeBinding">
            <soap:address location="http://localhost:8080/Calendar/calendar"/>
        </port>
    </service>
    <plnk:partnerLinkType name="calendar">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="calendarServicePortTypeRole" portType="tns:calendarServicePortType"/>
    </plnk:partnerLinkType>
</definitions>