homework1/OrderServiceClient/xml-resources/web-service-references/OrderService/wsdl/localhost_8080/Orders/OrderService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://jenn.strater.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://jenn.strater.com/">

<xs:element name="clearOrders" type="tns:clearOrders"/>

<xs:element name="clearOrdersResponse" type="tns:clearOrdersResponse"/>

<xs:element name="getOrderInfo" type="tns:getOrderInfo"/>

<xs:element name="getOrderInfoResponse" type="tns:getOrderInfoResponse"/>

<xs:element name="orderProduct" type="tns:orderProduct"/>

<xs:element name="orderProductResponse" type="tns:orderProductResponse"/>

<xs:element name="payOrder" type="tns:payOrder"/>

<xs:element name="payOrderResponse" type="tns:payOrderResponse"/>

<xs:complexType name="payOrder">
<xs:sequence>
<xs:element name="orderNumber" type="xs:string" minOccurs="0"/>
<xs:element name="creditCardNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="payOrderResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderProduct">
<xs:sequence>
<xs:element name="orderNumber" type="xs:string" minOccurs="0"/>
<xs:element name="customerName" type="xs:string" minOccurs="0"/>
<xs:element name="amount" type="xs:int" minOccurs="0"/>
<xs:element name="product" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clearOrders">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="clearOrdersResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getOrderInfo">
<xs:sequence>
<xs:element name="orderNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrderInfoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>