homework1/OrderServiceClient/xml-resources/web-service-references/OrderService/wsdl/localhost_8080/Orders/OrderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jenn.strater.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jenn.strater.com/" name="OrderService">
<types>
<xsd:schema>
<xsd:import namespace="http://jenn.strater.com/" schemaLocation="http://localhost:8080/Orders/OrderService?xsd=1"/>
</xsd:schema>
</types>
<message name="getOrderInfo">
<part name="parameters" element="tns:getOrderInfo"/>
</message>
<message name="getOrderInfoResponse">
<part name="parameters" element="tns:getOrderInfoResponse"/>
</message>
<message name="orderProduct">
<part name="parameters" element="tns:orderProduct"/>
</message>
<message name="orderProductResponse">
<part name="parameters" element="tns:orderProductResponse"/>
</message>
<message name="payOrder">
<part name="parameters" element="tns:payOrder"/>
</message>
<message name="payOrderResponse">
<part name="parameters" element="tns:payOrderResponse"/>
</message>
<message name="clearOrders">
<part name="parameters" element="tns:clearOrders"/>
</message>
<message name="clearOrdersResponse">
<part name="parameters" element="tns:clearOrdersResponse"/>
</message>
<portType name="OrderService">
<operation name="getOrderInfo">
<input wsam:Action="http://jenn.strater.com/OrderService/getOrderInfoRequest" message="tns:getOrderInfo"/>
<output wsam:Action="http://jenn.strater.com/OrderService/getOrderInfoResponse" message="tns:getOrderInfoResponse"/>
</operation>
<operation name="orderProduct">
<input wsam:Action="http://jenn.strater.com/OrderService/orderProductRequest" message="tns:orderProduct"/>
<output wsam:Action="http://jenn.strater.com/OrderService/orderProductResponse" message="tns:orderProductResponse"/>
</operation>
<operation name="payOrder">
<input wsam:Action="http://jenn.strater.com/OrderService/payOrderRequest" message="tns:payOrder"/>
<output wsam:Action="http://jenn.strater.com/OrderService/payOrderResponse" message="tns:payOrderResponse"/>
</operation>
<operation name="clearOrders">
<input wsam:Action="http://jenn.strater.com/OrderService/clearOrdersRequest" message="tns:clearOrders"/>
<output wsam:Action="http://jenn.strater.com/OrderService/clearOrdersResponse" message="tns:clearOrdersResponse"/>
</operation>
</portType>
<binding name="OrderServicePortBinding" type="tns:OrderService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getOrderInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="orderProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="payOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="clearOrders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OrderService">
<port name="OrderServicePort" binding="tns:OrderServicePortBinding">
<soap:address location="http://localhost:8080/Orders/OrderService"/>
</port>
</service>
</definitions>